@model CourseManage.ViewModels.StudentIndexViewModel

<!-- // END Header -->

<!-- Header Layout Content -->
<div class="mdk-header-layout__content page-content ">

<div class="pt-32pt">
    <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
        <div class="flex d-flex flex-column flex-sm-row align-items-center mb-24pt mb-md-0">

            <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                <h2 class="mb-0">Courses</h2>

                <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>

                    <li class="breadcrumb-item active">

                        Courses

                    </li>

                </ol>

            </div>
        </div>

        <div class="row"
             role="tablist">
            <div class="col-auto">
                <a href="student-paths.html"
                   class="btn btn-outline-secondary">
                    Learning Paths
                </a>
            </div>
        </div>

    </div>
</div>

@if (@Model.StudentCourses.Any() && @Model.StudentCourses.ElementAt(0).Course != null)
{
    <div class="page-section border-bottom-2">
        <div class="container page__container">

            <div class="card">
                <img src="@Url.Content(@Model.StudentCourses.ElementAt(0).Course.Thumbnail)"
                     alt="TypeScript"
                     class="card-img"
                     style="max-height: 100%; width: initial;">
                <div class="fullbleed bg-primary"
                     style="opacity: .5;">
                </div>
                <img src="@Url.Content(@Model.StudentCourses.ElementAt(0).Course.Thumbnail)"
                     width="64"
                     alt="Instruduction to TypeScript"
                     class="rounded position-absolute"
                     style="right: 1rem; top: 1rem;">
                <div class="card-body d-flex align-items-center justify-content-center fullbleed">
                    <div>
                        <h2 class="text-white mb-16pt">@Model.StudentCourses.ElementAt(0).Course.Title</h2>
                        <div class="d-flex align-items-center mb-16pt justify-content-center">
                            <div class="d-flex align-items-center mr-16pt">
                                <span class="material-icons icon-16pt text-white-50 mr-4pt">access_time</span>
                                <p class="flex text-white-50 lh-1 mb-0">50 minutes left</p>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="material-icons icon-16pt text-white-50 mr-4pt">play_circle_outline</span>
                                <p class="flex text-white-50 lh-1 mb-0">12 lessons</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-center">
                            <a href="student-take-lesson.html"
                               class="btn btn-white mr-8pt">
                                Resume
                            </a>
                            <a href="student-take-course.html"
                               class="btn btn-outline-white ml-0">
                                Start over
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-wrap align-items-start">
                <div class="d-flex align-items-center mr-24pt">
                    <a href="student-take-course.html"
                       class="mr-12pt">
                        <img src="@Url.Content(@Model.StudentCourses.ElementAt(0).Course.Thumbnail)"
                             width="40"
                             alt="@Model.StudentCourses.ElementAt(0).Course.Title"
                             class="rounded">
                    </a>
                    <div class="flex">
                        <a class="card-title"
                           href="student-take-course.html">
                            @Model.StudentCourses.ElementAt(0).Course.Title
                        </a>
                        <p class="lh-1 mb-0">
                            <span class="text-50 small">with</span>
                            <span class="text-50 small">@Model.StudentCourses.ElementAt(0).InstructorName</span>
                        </p>
                    </div>
                </div>
                <div class="d-flex align-items-center py-4pt"
                     style="white-space: nowrap;">
                    <small class="text-50 mr-8pt">Your rating</small>
                    <div class="rating mr-8pt">
                        @{
                            var rating = Model.StudentCourses.ElementAtOrDefault(0)?.Feedback?.Rating ?? 0;
                        }

                        @for (int i = 0; i < rating; i++)
                        {
                            <span class="rating__item">
                                <span class="material-icons">star</span>
                            </span>
                        }
                        @for (int i = rating; i <= 5; i++)
                        {
                            <span class="rating__item">
                                <span class="material-icons">star_border</span>
                            </span>
                        }
                    </div>
                    <small class="text-50">@rating/5</small>
                </div>
            </div>
        </div>
    </div>
}
<div class="container page__container">
<div class="page-section">

<div class="page-separator">
    <div class="page-separator__text">Learning Paths</div>
</div>

<!-- <div class="page-heading">
    <h4>Learning Paths</h4>
    <a 
        href="" 
        class="text-underline ml-sm-auto">All my learning paths</a>
</div> -->

<div class="row card-group-row mb-lg-8pt">
    @foreach (var path in Model.StudentPaths)
    {
        <div class="col-sm-4 card-group-row__col">

            <div class="card js-overlay card-sm overlay--primary-dodger-blue stack stack--1 card-group-row__card"
                 data-toggle="popover"
                 data-trigger="click">

                <div class="card-body d-flex flex-column">
                    <div class="d-flex align-items-center">
                        <div class="flex">
                            <div class="d-flex align-items-center">
                                <div class="rounded mr-12pt z-0 o-hidden">
                                    <div class="overlay">
                                        <img src="@Url.Content(path.Path.Avatar ?? "")"
                                             width="40"
                                             height="40"
                                             alt="@path.Path.Name"
                                             class="rounded">
                                        <span class="overlay__content overlay__content-transparent">
                                            <span class="overlay__action d-flex flex-column text-center lh-1">
                                                <small class="h6 small text-white mb-0"
                                                       style="font-weight: 500;">
                                                    80%
                                                </small>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="flex">
                                    <div class="card-title">@path.Path.Name</div>
                                    <p class="flex text-50 lh-1 mb-0">
                                        <small>18 courses</small>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <a href="student-path.html"
                           class="ml-4pt btn btn-sm btn-link text-secondary border-1 border-secondary">
                            Resume
                        </a>

                    </div>

                </div>
            </div>

            <div class="popoverContainer d-none">
                <div class="media">
                    <div class="media-left mr-12pt">
                        <img src="~/images/paths/angular_40x40@2x.png"
                             width="40"
                             height="40"
                             alt="@path.Path.Name"
                             class="rounded">
                    </div>
                    <div class="media-body">
                        <div class="card-title">@path.Path.Name</div>
                        <p class="text-50 d-flex lh-1 mb-0 small">18 courses</p>
                    </div>
                </div>

                <p class="mt-16pt text-70">@path.Path.Description</p>

                <div class="my-32pt">
                    <div class="d-flex align-items-center mb-8pt justify-content-center">
                        <div class="d-flex align-items-center mr-8pt">
                            <span class="material-icons icon-16pt text-50 mr-4pt">access_time</span>
                            <p class="flex text-50 lh-1 mb-0">
                                <small>50 minutes left</small>
                            </p>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="material-icons icon-16pt text-50 mr-4pt">play_circle_outline</span>
                            <p class="flex text-50 lh-1 mb-0">
                                <small>12 lessons</small>
                            </p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <a href="student-path.html"
                           class="btn btn-primary mr-8pt">
                            Resume
                        </a>
                        <a href="student-path.html"
                           class="btn btn-outline-secondary ml-0">
                            Start over
                        </a>
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <small class="text-50 mr-8pt">Your rating</small>
                    <div class="rating mr-8pt">
                        @{
                            var pathrating = 0;
                            if (path.Rating!=null)
                            {
                                pathrating = path.Rating ?? 0;
                                
                            }
                        }
                        @for (int i = 0; i < pathrating; i++)
                        {
                            <span class="rating__item">
                                <span class="material-icons text-primary">star</span>
                            </span>
                        }

                        @for (int i = pathrating; i <= 5; i++)
                        {
                            <span class="rating__item">
                                <span class="material-icons text-primary">star_border</span>
                            </span>
                        }
                    </div>
                    <small class="text-50">@pathrating/5</small>
                </div>
            </div>

        </div>
    }

</div>

<div class="mb-32pt">

    <ul class="pagination justify-content-start pagination-xsm m-0">
        <li class="page-item disabled">
            <a class="page-link"
               href="#"
               aria-label="Previous">
                <span aria-hidden="true"
                      class="material-icons">
                    chevron_left
                </span>
                <span>Prev</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link"
               href="#"
               aria-label="Page 1">
                <span>1</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link"
               href="#"
               aria-label="Page 2">
                <span>2</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link"
               href="#"
               aria-label="Next">
                <span>Next</span>
                <span aria-hidden="true"
                      class="material-icons">
                    chevron_right
                </span>
            </a>
        </li>
    </ul>

</div>

@foreach (var topicGroup in Model.StudentCourses.GroupBy(c => c.Course.Topic.Name))
{
    <div class="page-separator">
        <div class="page-separator__text">@topicGroup.Key Courses</div>
    </div>

    <div class="row card-group-row">

        @foreach (var course in topicGroup)
        {
            <div class="col-lg-3 card-group-row__col">

                <div class="card card-sm card--elevated p-relative o-hidden overlay overlay--primary-dodger-blue js-overlay card-group-row__card"
                     data-toggle="popover"
                     data-trigger="click">

                    <a href="student-take-course.html"
                       class="card-img-top js-image"
                       data-position=""
                       data-height="140">
                        <img src="@Url.Content(@course.Course.Thumbnail)"
                             alt="course">
                        <span class="overlay__content">
                            <span class="overlay__action d-flex flex-column text-center">
                                <i class="material-icons icon-32pt">play_circle_outline</i>
                                <span class="card-title text-white">Resume</span>
                            </span>
                        </span>
                    </a>

                    <div class="card-body flex">
                        <div class="d-flex">
                            <div class="rating flex">
                                <span class="rating__item">
                                    <span class="material-icons">star</span>
                                </span>
                                <span class="rating__item">
                                    <span class="material-icons">star</span>
                                </span>
                                <span class="rating__item">
                                    <span class="material-icons">star</span>
                                </span>
                                <span class="rating__item">
                                    <span class="material-icons">star</span>
                                </span>
                                <span class="rating__item">
                                    <span class="material-icons">star_border</span>
                                </span>
                            </div>
                            <!-- <small class="text-50">6 hours</small> -->
                        </div>
                        <div class="d-flex">
                            <div class="flex">
                                <a class="card-title"
                                   href="student-take-course.html">
                                    @course.CourseName
                                </a>
                                <small class="text-50 font-weight-bold mb-4pt">@course.InstructorName</small>
                            </div>
                            <a href="student-take-course.html"
                               data-toggle="tooltip"
                               data-title="Add Favorite"
                               data-placement="top"
                               data-boundary="window"
                               class="ml-4pt material-icons text-20 card-course__icon-favorite">
                                favorite_border
                            </a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex align-items-center">
                                <span class="material-icons icon-16pt text-50 mr-4pt">access_time</span>
                                <p class="flex text-50 lh-1 mb-0">
                                    <small>6 hours</small>
                                </p>
                            </div>
                            <div class="col-auto d-flex align-items-center">
                                <span class="material-icons icon-16pt text-50 mr-4pt">play_circle_outline</span>
                                <p class="flex text-50 lh-1 mb-0">
                                    <small>12 lessons</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popoverContainer d-none">
                    <div class="media">
                        <div class="media-left mr-12pt">
                            <img src="@Url.Content(@course.Course.Thumbnail)"
                                 width="40"
                                 height="40"
                                 alt="@course.CourseName"
                                 class="rounded">
                        </div>
                        <div class="media-body">
                            <div class="card-title mb-0">@course.CourseName</div>
                            <p class="lh-1 mb-0">
                                <span class="text-50 small">with</span>
                                <span class="text-50 small font-weight-bold">@course.InstructorName</span>
                            </p>
                        </div>
                    </div>

                    <p class="my-16pt text-70">@course.Course.Description</p>

                    <div class="mb-16pt">
                        <div class="d-flex align-items-center">
                            <span class="material-icons icon-16pt text-50 mr-8pt">check</span>
                            <p class="flex text-50 lh-1 mb-0">
                                <small>Fundamentals of working with Angular</small>
                            </p>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="material-icons icon-16pt text-50 mr-8pt">check</span>
                            <p class="flex text-50 lh-1 mb-0">
                                <small>Create complete Angular applications</small>
                            </p>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="material-icons icon-16pt text-50 mr-8pt">check</span>
                            <p class="flex text-50 lh-1 mb-0">
                                <small>Working with the Angular CLI</small>
                            </p>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="material-icons icon-16pt text-50 mr-8pt">check</span>
                            <p class="flex text-50 lh-1 mb-0">
                                <small>Understanding Dependency Injection</small>
                            </p>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="material-icons icon-16pt text-50 mr-8pt">check</span>
                            <p class="flex text-50 lh-1 mb-0">
                                <small>Testing with Angular</small>
                            </p>
                        </div>
                    </div>

                    <div class="my-32pt">
                        <div class="d-flex align-items-center mb-8pt justify-content-center">
                            <div class="d-flex align-items-center mr-8pt">
                                <span class="material-icons icon-16pt text-50 mr-4pt">access_time</span>
                                <p class="flex text-50 lh-1 mb-0">
                                    <small>50 minutes left</small>
                                </p>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="material-icons icon-16pt text-50 mr-4pt">play_circle_outline</span>
                                <p class="flex text-50 lh-1 mb-0">
                                    <small>12 lessons</small>
                                </p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-center">
                            <a href="student-take-lesson.html"
                               class="btn btn-primary mr-8pt">
                                Resume
                            </a>
                            <a href="student-take-course.html"
                               class="btn btn-outline-secondary ml-0">
                                Start over
                            </a>
                        </div>
                    </div>

                    <div class="d-flex align-items-center">
                        <small class="text-50 mr-8pt">Your rating</small>
                        <div class="rating mr-8pt">
                            @{
                                var courserating = course.Feedback?.Rating ?? 0;
                            }
                            @for (int i = 0; i < courserating; i++)
                            {
                                <span class="rating__item">
                                    <span class="material-icons text-primary">star</span>
                                </span>    
                            }
                            @for (int i = courserating; i <= 5; i++)
                            {
                                
                                <span class="rating__item">
                                    <span class="material-icons text-primary">star_border</span>
                                </span>
                            }
                        </div>
                        <small class="text-50">@courserating/5</small>
                    </div>

                </div>

            </div>
        }

    </div>

    <div class="mb-32pt">

        <ul class="pagination justify-content-start pagination-xsm m-0">
            <li class="page-item disabled">
                <a class="page-link"
                   href="#"
                   aria-label="Previous">
                    <span aria-hidden="true"
                          class="material-icons">
                        chevron_left
                    </span>
                    <span>Prev</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   href="#"
                   aria-label="Page 1">
                    <span>1</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   href="#"
                   aria-label="Page 2">
                    <span>2</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   href="#"
                   aria-label="Next">
                    <span>Next</span>
                    <span aria-hidden="true"
                          class="material-icons">
                        chevron_right
                    </span>
                </a>
            </li>
        </ul>

    </div>
}
</div>
</div>
</div>
